/*Main CSS*/

html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow-x: hidden;
    vertical-align: baseline;
    font-size: 100%;
    width: 100%;
}

body {
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    text-align: left;
    font-size: lem;
    min-height: 100%;
}

.container {
    margin: 0;
    padding: 0; 
}

.start {
    background-color: #07404d;
    cursor: pointer;
}

.hr-line {
    margin: 4px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 4px solid #1a808c;
    width: 70%
}

.trans-eclipse {
    margin-top: 5px;
}

.top-line {
    margin-top: 30px;
}

.active {
    background-color: #1a808c;
    height: auto;
    width: 50%;
}

.border-line {
    border: 2px solid #1a808c;
}

.border-lineactive {
    border: 1px solid #1a808c;
}

.eclipse {
    margin-left: 2%;
}

.fs-1 {
    color: #126673;
}

.arrow {
    margin-top: 200px;
}

.scaled-arrow {
    display: inline-block;
    transform: scale(2.0, 20.5);
}

.number {
    color: #1a808c;
    font-size: 350%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.arrow-number {
    margin-top: 304px;
}

.discoveries {
    backdrop-filter: blur(55px)
}

.world-travel {
    background-color: #ffffff;
    border-radius: 0 0 25px 25px;
}

.grey-line {
    border: 1px solid #c4c4c2;
}

.home-text {
    color: #07404d;
    font-size: 110%;
    text-align: center;
    padding: 20px 0;
}

.home-text a {
    color: #07404d;
    font-size: 120%;
    display: block;
    text-decoration: none;
}

.home-text a:hover {
    text-decoration: underline;
}

.discover h3 {
    color: #ffffff;
}

.discovery {
    color: #ffffff;
    font-weight: normal;
    text-align: right;

}

.img-world {
    width: 100%;
    height: auto;
}

.world {
    color: #ffffff;
    font-size: 1300%;
    font-weight: bold;
    text-align: left;
    margin-top: -79px;
}

.dream-land {
    margin-top: 240px;
}

.land {
    color: #ffffff;
    font-weight: lighter;
    font-size: 310%;
}

.lorem {
    color: #767878;
    font-size: 120%;
}

.book {
    color: #ffffff;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    font-size: 130%;
}

.button-arrow {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
} 

.img-arrow {
    width: 18%;
    height: auto;
}

.social-media {
    background-color: #d5cfce;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
    padding-top: 31px;
    padding-bottom: 10px;
    position: relative;
    left: 70%;
    width: 66%;
}

.world-left {
    backdrop-filter: none;
}

.world-travel {
    position: relative;
    left: 50%;
}

.world-word {
    margin-top: 40%;  
}


